<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="../component.css">
    <link rel="icon" href="../../assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="grid.css">
    <title>Grid | bloom UI</title>
</head>
<body>
    <nav class="navigation-bar">
        <div class="logo">
          <a href="../../index.html">
            <img class="logo-img" src="../../assets/logo1.svg" alt="logo" />
            <p class="logo-text">bloom</p>
            <span class="text">UI</span>
          </a>
        </div>
        <div class="hamburger-icon">
          <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </div>
      </nav>
      <div class="conatiner">
        <div class="sidebar-wrapper slide-off">
          <div class="sidebar">
            <div class="sidebar-header">
              <div class="logo">
                <a href="../index.html">
                  <img class="logo-img" src="../../assets/logo1.svg" alt="logo" />
                  <p class="logo-text">bloom</p>
                  <span class="text">UI</span>
                </a>
              </div>
            </div>
            <div class="introduction">
              <a href="../main.html">Introduction</a>
            </div>
            <div class="components">Components</div>
            <div class="sidebar-main">
              <a href="../alert/alert.html">Alert</a>
              <a href="../avatar/avatar.html">Avatar</a>
              <a href="../badge/badge.html">Badge</a>
              <a href="../button/button.html">Button</a>
              <a href="../card/card.html">Card</a>
              <a href="../image/image.html">Image</a>
              <a href="../input/input.html">Input</a>
              <a href="../list/list.html">Lists</a>
              <a href="../Modal/modal.html">Modal</a>
              <a href="../navigation/navigation.html">Navigation</a>
              <a href="../rating/rating.html">Rating</a>
              <a href="../slider/slider.html">Slider</a>
              <a href="../toast/toast.html">Toast</a>
              <a href="../text-tilities/text-utilities.html">Text Utilities</a>
              <a href="../grid/grid.html">Grid</a>

  
            </div>
          </div>
        </div>
        <div class="section">
          <div class="section-header">
            <h1>Grid</h1>
            <p>
              Grid can be used to structure layout of the webpage.This is a responsive grid that changes the row according to the viewport .      
            </p>
          </div>
          <div class="section-main">
            <div class="section-main-text  ">
                <h2>Grid: 2 item</h2>
            </div>
            <div class="responsive-grid-half">
                <div class="card">
                    <img class="card-img" src="../../assets/headphone.jpg" alt="">
                    <span class="card-badge">50% OFF</span>
                    <div class="card-info">
                        <div class="card-title">
                         
                            <h3 class="card-header">Red Headphone</h3>
                            <p class="card-description">Master & Dynamic</p>            
                        </div>
                        <div class="price">
                            <p class="offer-price">₹1499</p>
                            <p class="actual-price">₹2999</p>
                            <p class="price-perc">(50% OFF)</p>
                        </div>
                    </div>
                       <button class="btn secondary-solid add-cart">ADD TO CART</button>
                       <button class="btn secondary-solid wishlist"> 
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                       </button>
                </div>
                <div class="card">
                    <img class="card-img" src="../../assets/headphone.jpg" alt="">
                    <span class="card-badge">50% OFF</span>
                    <div class="card-info">
                        <div class="card-title">
                         
                            <h3 class="card-header">Red Headphone</h3>
                            <p class="card-description">Master & Dynamic</p>            
                        </div>
                        <div class="price">
                            <p class="offer-price">₹1499</p>
                            <p class="actual-price">₹2999</p>
                            <p class="price-perc">(50% OFF)</p>
                        </div>
                    </div>
                       <button class="btn secondary-solid add-cart">ADD TO CART</button>
                       <button class="btn secondary-solid wishlist"> 
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                       </button>
                </div>
                </div>
            <div class="iframe-img">
                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%2874%2C144%2C226%2C1%29&t=material&wt=none&l=auto&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522responsive-grid-half%2522%253E%250A%252F*your%2520div%2520elements%2520inside*%252F%250A%253C%252Fdiv%253E"
                style="width: 100%; height: 360px; border:0; transform: scale(1); overflow:hidden;margin:2rem 0;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
            </div>
            <div class="section-main-text  ">
                <h2>Grid: 3 item</h2>
            </div>
            <div class="responsive-grid">
                <div class="card">
                    <img class="card-img" src="../../assets/headphone.jpg" alt="">
                    <span class="card-badge">50% OFF</span>
                    <div class="card-info">
                        <div class="card-title">
                         
                            <h3 class="card-header">Red Headphone</h3>
                            <p class="card-description">Master & Dynamic</p>            
                        </div>
                        <div class="price">
                            <p class="offer-price">₹1499</p>
                            <p class="actual-price">₹2999</p>
                            <p class="price-perc">(50% OFF)</p>
                        </div>
                    </div>
                       <button class="btn secondary-solid add-cart">ADD TO CART</button>
                       <button class="btn secondary-solid wishlist"> 
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                       </button>
                </div>
                <div class="card">
                    <img class="card-img" src="../../assets/headphone.jpg" alt="">
                    <span class="card-badge">50% OFF</span>
                    <div class="card-info">
                        <div class="card-title">
                         
                            <h3 class="card-header">Red Headphone</h3>
                            <p class="card-description">Master & Dynamic</p>            
                        </div>
                        <div class="price">
                            <p class="offer-price">₹1499</p>
                            <p class="actual-price">₹2999</p>
                            <p class="price-perc">(50% OFF)</p>
                        </div>
                    </div>
                       <button class="btn secondary-solid add-cart">ADD TO CART</button>
                       <button class="btn secondary-solid wishlist"> 
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                       </button>
                </div>
                <div class="card">
                    <img class="card-img" src="../../assets/headphone.jpg" alt="">
                    <span class="card-badge">50% OFF</span>
                    <div class="card-info">
                        <div class="card-title">
                         
                            <h3 class="card-header">Red Headphone</h3>
                            <p class="card-description">Master & Dynamic</p>            
                        </div>
                        <div class="price">
                            <p class="offer-price">₹1499</p>
                            <p class="actual-price">₹2999</p>
                            <p class="price-perc">(50% OFF)</p>
                        </div>
                    </div>
                       <button class="btn secondary-solid add-cart">ADD TO CART</button>
                       <button class="btn secondary-solid wishlist"> 
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                       </button>
                </div>
             </div>   
             <div class="iframe-img">
                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%2874%2C144%2C226%2C1%29&t=material&wt=none&l=auto&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522responsive-grid%2522%253E%250A%252F*your%2520div%2520elements%2520inside*%252F%250A%253C%252Fdiv%253E"
                style="width: 100%; height: 360px; border:0; transform: scale(1); overflow:hidden;margin:2rem 0;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
             </div>
            </div>
            
           


        </div>
      </div>
      <footer class="send-prev-next">
        <div class="prev">
          <a href="../text-tilities/text-utilities.html"
            ><i class="fa fa-angle-left"></i>
            <i class="fa fa-angle-left"></i> Text utilities
          </a>
        </div>
       
      </footer>
      <script src="../main.js"></script>  
</body>
</html>