<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../component.css">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="avatar.css">
    <link rel="icon" href="../../assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Avatar | bloom UI</title>
</head>
<body>
    <nav class="navigation-bar">
        <div class="logo">
            <a href="../index.html">
            <img  class="logo-img" src="../assets/logo1.svg" alt="logo">
            <p class="logo-text">bloom</p><span class="text">UI</span>
            </a>
        </div>
        <div class="hamburger-icon">
            <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </div>
    </nav>
    <div class="conatiner">
        <div class="sidebar-wrapper slide-off">
            <div class="sidebar">
                <div class="sidebar-header">
                    <div class="logo">
                        <a href="../index.html">
                        <img class="logo-img" src="../assets/logo1.svg" alt="logo">
                        <p class="logo-text">bloom</p><span class="text">UI</span>
                        </a>
                    </div>
                </div>
                <div class="introduction">
                    <a href="main.html">Introduction</a>
                </div>
                <div class="components">Components</div>
                <div class="sidebar-main">
                    <a href="../alert/alert.html">Alert</a>
                    <a href="../avatar/avatar.html">Avatar</a>
                    <a href="../badge/badge.html">Badge</a>
                    <a href="">Button</a>
                    <a href="">Card</a>
                    <a href="">Image</a>
                    <a href="">Input</a>
                    <a href="">Lists</a>
                    <a href="">Modal</a>
                    <a href="">Navigation</a>
                    <a href="">Rating</a>
                    <a href="">Slider</a>
                    <a href="">Toast</a>
                    
                </div>
            </div>
        </div>
        <div class="section">
            <div class="section-header">
                
                <h1>Avatar</h1>
                <p>Avatar is used to represent a user, and displays the profile picture, initials or fallback icon.</p>
               
            </div>
            <div class="section-main">
                <div class="section-main-text">
                    <h2>Profile Avatar</h2>
                    <p>Profile Avatars can be created using the class 'avatar', inside the img tag.</p>
                </div>
            <div class="avatar-container">
                <img src="../../assets/avatar.jpg" alt="avatar" class="avatar">
                <img src="../../assets/avatar2.jpg" alt="avatar" class="avatar">
                <img src="../../assets/avatar3.jpg" alt="avatar" class="avatar">
            </div>
            <div class="iframe-img">
                <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%2874%2C144%2C226%2C1%29&t=material&wt=none&l=htmlmixed&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14.5px&lh=109%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522avatar-container%2522%253E%250A%2509%253Cimg%2520src%253D%2522..%252F..%252Fassets%252Favatar.jpg%2522%2520alt%253D%2522avatar%2522%2520class%253D%2522avatar%2522%253E%2509%2509%2509%250A%2520%2520%2520%2520%253Cimg%2520src%253D%2522..%252F..%252Fassets%252Favatar2.jpg%2522%2520alt%253D%2522avatar%2522%2520class%253D%2522avatar%2522%253E%250A%2520%2520%2520%2520%253Cimg%2520src%253D%2522..%252F..%252Fassets%252Favatar3.jpg%2522%2520alt%253D%2522avatar%2522%2520class%253D%2522avatar%2522%253E%250A%253C%252Fdiv%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520"
                        style="width: 100%; height: 549px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>

            <div class="section-main">
                <div class="section-main-text">
                    <h2>Sizes Avatar</h2>
                    <p>Size of the avatars can be changed by adding sm class for small size , md class for medium size , lg for large size class to the existing avatar class.</p>
                </div>
            <div class="avatar-container">
                <img src="../../assets/avatar.jpg" alt="avatar" class="avatar sm">
                <img src="../../assets/avatar2.jpg" alt="avatar" class="avatar md">
                <img src="../../assets/avatar3.jpg" alt="avatar" class="avatar lg">
           </div>

           <div class="iframe-img">
                <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%2874%2C144%2C226%2C1%29&t=material&wt=none&l=htmlmixed&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14.5px&lh=109%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522avatar-container%2522%253E%250A%2509%253Cimg%2520src%253D%2522..%252F..%252Fassets%252Favatar.jpg%2522%2520alt%253D%2522avatar%2522%2520class%253D%2522avatar%2520sm%2522%253E%2509%2509%250A%2520%2520%2520%2520%253Cimg%2520src%253D%2522..%252F..%252Fassets%252Favatar2.jpg%2522%2520alt%253D%2522avatar%2522%2520class%253D%2522avatar%2520md%2522%253E%250A%2520%2520%2520%2520%253Cimg%2520src%253D%2522..%252F..%252Fassets%252Favatar3.jpg%2522%2520alt%253D%2522avatar%2522%2520class%253D%2522avatar%2520lg%2522%253E%250A%253C%252Fdiv%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520"
                        style="width: 100%; height: 549px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                </iframe>
           </div>
           </div>
           </div>
        </div>
    </div>    
</body>
</html>