@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto+Slab:wght@300&display=swap');
@import url("./alert/alert.css");
@import url("./avatar/avatar.css");
:root{
    --main-color:#0000FF;
    --black:#000000;
    --white:#ffffff;
    --ivory-white:#Fdfff5;
    --grey:rgb(243, 243, 243);

    --green:#55DD33;
    --accent-green:#98FB98;
    --lacoste-green:#004526;
    --blue:#00BFFF;
    --airForce-blue:#00308F;
    --accent-blue:#F0F8FF;
    --red:#C6011F;
    --accent-red:#F88379;
    --apricot-red:#FBCEB1;
    --yellow:#FFD700;
    --accent-yellow:#FFFF00;
    --dark-yellow:#b48648;
    
}