@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
:root{
    font-family: 'Poppins', sans-serif;;
}
.logo a{
    display: flex;    
    padding: 2rem 3rem 1rem 6rem;
 }
.logo-text{
    font-size: 1.7rem;
    font-family: 'Roboto Slab', serif;
    padding-left:.5rem ;
    font-weight: 600;
    color: var(--black);
    cursor: pointer;

}
.text{
    font-size: 1.7rem;
    color:var(--main-color);
    font-family: 'Roboto Slab', serif;
    cursor: pointer;
   }
.logo-img{
    height: 30px;
    width: 30px;
}
.container{
    display: flex;
    max-width: 81.25rem;
}
.sidebar-wrapper{
    width: 20rem;
    height: 100%;
    overflow-y: auto;
    background-color: var(--grey);
    position: fixed;
    font-size: 1rem;
    z-index: 5;
    box-shadow: rgba(34, 33, 33, 0.35) 2px 5px 15px;

}
.sidebar{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.sidebar-header{
    border-bottom: 1px solid grey;
    padding:0.625rem 0 0 0;
}
.introduction a{
    color: var(--main-color);
    font-size: 1.5rem;
    margin-left:6rem;
    margin-top: 1rem;
    cursor: pointer;
}
.introduction:hover{
   opacity: 0.5;
}
.components{
    color: var(--black);
    font-size: 1.1rem;
    align-self: center;
    padding: 0.625rem 0 0rem;
    border-bottom: 1px solid grey;
}

.sidebar-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    font-size: 0.9rem;
    font-weight: 400;
}
.sidebar-main a{
    color: var(--main-color);
    padding:  0 0.6rem 1rem 0.5rem;
}
.sidebar-main a:hover{
    background-color: rgb(202, 202, 202);
    padding: 0.325rem 6rem 0.325rem 6rem; 
    border-radius: 0rem 2rem 0rem 2rem;
}
.section{
    display: flex;
    flex-direction: column;
    margin-left:20rem;
    color: var(--black);
}
.section-header{
    padding: 1rem;
    font-size: 1rem;
}   
.section-header > h1{
    margin: 2rem 0;
}
.section-header> p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    padding-bottom:2rem;
    border-bottom: 1px solid var(--black);
    margin-top:2rem ;
    line-height: 1.5em;
}
.section-main{
    padding: 0.325 0 0.325rem 0 ;
    margin:0 1rem 
    }
.section-main-text> h1 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    font-weight: 500;
}   
.section-main-text> p{
    font-weight: 300;
    margin: 1rem 0 1rem 0 ;
    line-height: 1.5em;

} 
.section-main-text>p> code{
    font-size: 1.2rem;
    background-color: lightgrey;
    padding: 1.5px;
}
.send-prev-next{
    display: flex;
    justify-content: space-between;
    margin:1rem 0 2rem 20rem;
    font-size: 1rem;
    cursor: pointer;
}
.send-prev-next > .prev , .next{
    margin:1rem 2rem;
}
.send-prev-next a{
     color: black;
     font-size: 1rem;
 }

    
/* CSS for mobile view */
.navigation-bar{
    display:none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--white);
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1;
}


.hamburger-icon{
    color: var(--main-color);
    cursor: pointer;
    
}

@media  screen and (max-width:950px) {
    .logo a{
        margin-left: -4rem;
    }
    .section-header {
        font-size: 0.8rem;
        margin: 6rem 1rem 0rem 1rem;
            }
    .section-main{
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
    }
    
    .slide-on{
        left: 0;
        transition:left 0.5s ease-out;

    }
    .slide-off{
        left: -20rem;
        transition: left 0.5s ease-out;
    }
    .sidebar-wrapper{
        width: 15.625rem;
        z-index: 5;
    }
    .introduction a{
        margin-left:3rem ;
    }
    
   .introduction,.components{
        font-size: 1rem;
    }
    .sidebar-main{
        font-size: 0.9rem;
    }
    .container{
        margin-top: 3.14rem;
    }
    .navigation-bar{
        display: flex;
    }
    .section{
        position: absolute;
        right: 0;
        width: 100%;
    }
  
    .send-prev-next{
        display: none;
    }
   


}    
    @media screen and (max-width: 500px) {

        .hamburger-icon{
            font-size: 0.8rem;
        }
        .logo-img{
            height: 26px;
            width: 26px;
        }
        .logo-text,.text{
            font-size: 1.5rem;
        }
        .section-main-text > p>code{
            font-size: 0.8rem;
        }
      
        
    }
    /* scrollbar css */

    ::-webkit-scrollbar-thumb {
        background: var(--black);
        border-radius: 2px;
      }
      ::-webkit-scrollbar {
        width: 2px;
      }
  /* scrollbar css ends */

 