<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="component.css">
    <link rel="stylesheet" href="reset.css">
    <link rel="icon" href="../assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Slab&display=swap" rel="stylesheet">
    <title>Introduction | bloom UI</title>
</head>
<body>
    <nav class="navigation-bar">
        <div class="logo">
            <a href="../index.html">
            <img  class="logo-img" src="../assets/logo1.svg" alt="logo">
            <p class="logo-text">bloom</p><span class="text">UI</span>
            </a>
            
        </div>
        <div class="hamburger-icon">
            <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </div>
    </nav>
    <div class="conatiner">
        <div class="sidebar-wrapper slide-off">
            <div class="sidebar">
                <div class="sidebar-header">
                    <div class="logo">
                        <a href="../index.html">
                        <img class="logo-img" src="../assets/logo1.svg" alt="logo">
                        <p class="logo-text">bloom</p><span class="text">UI</span>
                        </a>
                    </div>
                </div>
                <div class="introduction">
                    <a href="main.html">Introduction</a>
                </div>
                <div class="components">Components</div>
                <div class="sidebar-main">
                    <a href="../components/alert/alert.html">Alert</a>
                    <a href="../components/avatar/avatar.html">Avatar</a>
                    <a href="../components/badge/badge.html">Badge</a>
                    <a href="../components/button/button.html">Button</a>
                    <a href="../components/card/card.html">Card</a>
                    <a href="../components/image/image.html">Image</a>
                    <a href="../components/input/input.html">Input</a>
                    <a href="../components/list/list.html">Lists</a>
                    <a href="../components/Modal/modal.html">Modal</a>
                    <a href="../components/navigation/navigation.html">Navigation</a>
                    <a href="../components/rating/rating.html">Rating</a>
                    <a href="../components/slider/slider.html">Slider</a>
                    <a href="../components/toast/toast.html">Toast</a>
                    <a href="../text-tilities/text-utilities.html">Text-utilities</a>
                    <a href="../grid/grid.html">Grid</a>
                    
                </div>
            </div>
        </div>

        <div class="section">

            
            <div class="section-header">
                <h1>Introduction to bloom <span class="text">UI</span> </h1>
                <p >bloom UI is easy to use component library , which helps Developers to use best styles and components, by using pre-defined classnames. bloom UI helps you to quickly build your Project UI, by focusing much on Functionality, because we take care of your Designs.</p>
            </div>

            <div class="section-main">
                <div class="section-main-text">
                    <h1>Installation guide</h1>
                    <p>In order to introduce bloom UI to your project, copy the link provided and paste it in the <code>head</code> tag of your HTML and access classes provided in the Docs on your elements. </p>
                </div>
                <div class="iframe-img">
                    <iframe
                     src="https://carbon.now.sh/embed?bg=rgba%2874%2C144%2C226%2C1%29&t=material&wt=none&l=htmlmixed&width=810&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=10.5px&lh=148%25&si=false&es=2x&wm=false&code=%253Clink%2520rel%253D%2522stylesheet%2522%2520href%253D%2522http%253A%252F%252Fbloom-component-library.vercel.app%252Fcomponents%255Ccomponent.css%2522%253E%250A%250A"
                     style="width: 100%; height: 260px; border:0; transform: scale(1); overflow:hidden;margin:2rem 0;"
                     sandbox="allow-scripts allow-same-origin">
                    </iframe>
    
                </div>
            </div>

        </div>
            <hr>
        

    </div>

    <footer class="send-prev-next">
        <div class="prev"><a href="../index.html"><i class="fa fa-angle-left" ></i> <i class="fa fa-angle-left" ></i> Home</a></div>
        <div class="next"><a href="../components/alert/alert.html">Alert <i class="fa fa-angle-right" ></i> <i class="fa fa-angle-right" ></i></a></div>
    </footer>
            
    
    <script src="main.js"></script>

</body>
</html>