<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="component.css">
    <link rel="stylesheet" href="reset.css">
    <link rel="icon" href="../assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Slab&display=swap" rel="stylesheet">
    <title>Introduction | bloom UI</title>
</head>
<body>
    <nav class="navigation-bar">
        <div class="logo">
            <a href="../index.html">
            <img  class="logo-img" src="../assets/logo1.svg" alt="logo">
            <p class="logo-text">bloom</p><span class="text">UI</span>
            </a>
            
        </div>
        <div class="hamburger-icon">
            <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </div>
    </nav>
    <div class="conatiner">
        <div class="sidebar-wrapper slide-off">
            <div class="sidebar">
                <div class="sidebar-header">
                    <div class="logo">
                        <a href="../index.html">
                        <img class="logo-img" src="../assets/logo1.svg" alt="logo">
                        <p class="logo-text">bloom</p><span class="text">UI</span>
                        </a>
                    </div>
                </div>
                <div class="introduction">
                    <a href="main.html">Introduction</a>
                </div>
                <div class="components">Components</div>
                <div class="sidebar-main">
                    <a href="../components/alert/alert.html">Alert</a>
                    <a href="../components/avatar/avatar.html">Avatar</a>
                    <a href="">Badge</a>
                    <a href="">Button</a>
                    <a href="">Card</a>
                    <a href="">Image</a>
                    <a href="">Input</a>
                    <a href="">Lists</a>
                    <a href="">Modal</a>
                    <a href="">Navigation</a>
                    <a href="">Rating</a>
                    <a href="">Slider</a>
                    <a href="">Toast</a>
                    
                </div>
            </div>
        </div>

        <div class="section">

            
            <div class="section-header">
                <h1>Introduction to bloom <span class="text">UI</span> </h1>
                <p >bloom UI is easy to use component library , which helps Developers to use best styles and components, by using pre-defined classnames. bloom UI helps you to quickly build your Project UI, by focusing much on Functionality, because we take care of your Designs.</p>
            </div>

            <div class="section-main">
                <div class="section-main-text">
                    <h1>Installation guide</h1>
                    <p>In order to introduce bloom UI to your project, copy the link provided and paste it in the <code>head</code> tag of your HTML and access classes provided in the Docs on your elements. </p>
                </div>
                <div class="iframe-code"></div>
            </div>

        </div>
            <hr>
        <div class="send-prev-next">
            <div class="prev"><a href="../index.html"><i class="fas fa-chevron-left"></i>Home</a></div>
            <div class="next"><a href="../components/alert/alert.html">Alert<i class="fas fa-chevron-right"></i></a></div>
        </div>

    </div>
            <script src="main.js"></script>

</body>
</html>