<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../main.css" />
    <link rel="stylesheet" href="../reset.css" />
    <link rel="stylesheet" href="../component.css" />
    <link rel="icon" href="../../assets/favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="text-utilities.css" />
    <title>Text-utilities | bloom UI</title>
  </head>
  <body>
    <nav class="navigation-bar">
      <div class="logo">
        <a href="../../index.html">
          <img class="logo-img" src="../../assets/logo1.svg" alt="logo" />
          <p class="logo-text">bloom</p>
          <span class="text">UI</span>
        </a>
      </div>
      <div class="hamburger-icon">
        <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
      </div>
    </nav>
    <div class="conatiner">
      <div class="sidebar-wrapper slide-off">
        <div class="sidebar">
          <div class="sidebar-header">
            <div class="logo">
              <a href="../index.html">
                <img class="logo-img" src="../../assets/logo1.svg" alt="logo" />
                <p class="logo-text">bloom</p>
                <span class="text">UI</span>
              </a>
            </div>
          </div>
          <div class="introduction">
            <a href="../main.html">Introduction</a>
          </div>
          <div class="components">Components</div>
          <div class="sidebar-main">
            <a href="../alert/alert.html">Alert</a>
            <a href="../avatar/avatar.html">Avatar</a>
            <a href="../badge/badge.html">Badge</a>
            <a href="../button/button.html">Button</a>
            <a href="../card/card.html">Card</a>
            <a href="../image/image.html">Image</a>
            <a href="../input/input.html">Input</a>
            <a href="../list/list.html">Lists</a>
            <a href="../Modal/modal.html">Modal</a>
            <a href="../navigation/navigation.html">Navigation</a>
            <a href="../rating/rating.html">Rating</a>
            <a href="../slider/slider.html">Slider</a>
            <a href="../toast/toast.html">Toast</a>
            <a href="../text-tilities/text-utilities.html">Text Utilities</a>
            <a href="../grid/grid.html">Grid</a>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="section-header">
          <h1>Text Utilities</h1>
          <p>
            Text Utilities are used to control alignments with different sizes
            and also to center text
          </p>
        </div>
        <div class="section-main">
          <div class="section-main-text">
            <h2>Heading Text</h2>
            <p>All HTML headings, h1 through h6 , are available.</p>
          </div>
          <div class="heading-container">
            <h1>H1 Bloom Heading</h1>
            <h2>H2 Bloom Heading</h2>
            <h3>H3 Bloom Heading</h3>
            <h4>H4 Bloom Heading</h4>
            <h5>H5 Bloom Heading</h5>
          </div>
        </div>
        <div class="iframe-img">
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%2874%2C144%2C226%2C1%29&t=material&wt=none&l=auto&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Ch1%253EH1%2520Bloom%2520Heading%253C%252Fh1%253E%250A%253Ch2%253EH2%2520Bloom%2520Heading%253C%252Fh2%253E%250A%253Ch3%253EH3%2520Bloom%2520Heading%253C%252Fh3%253E%250A%253Ch4%253EH4%2520Bloom%2520Heading%253C%252Fh4%253E%250A%253Ch5%253EH5%2520Bloom%2520Heading%253C%252Fh5%253E"
            style="
              width: 100%;
              height: 360px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
              margin: 2rem 0;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </div>
        <div class="section-main">
          <div class="section-main-text">
            <h2>Text Alignment</h2>
            <p>Text alignmnet left , center and right are available.</p>
          </div>
          <div class="heading-container">
            <h3 class="text-left">Left Aligned Text</h3>
            <h3 class="text-center">Center Aligned Text</h3>
            <h3 class="text-right">Right Aligned text</h3>
          </div>
        </div>
        <div class="iframe-img">
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%2874%2C144%2C226%2C1%29&t=material&wt=none&l=auto&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Ch3%2520class%253D%2522text-left%2522%253ELeft%2520Aligned%2520Text%253C%252Fh3%253E%250A%253Ch3%2520class%253D%2522text-center%2522%253ECenter%2520Aligned%2520Text%253C%252Fh3%253E%250A%253Ch3%2520class%253D%2522text-right%2522%253ERight%2520Aligned%2520text%253C%252Fh3%253E"
            style="
              width: 100%;
              height: 360px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
              margin: 2rem 0;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </div>
        <div class="section-main">
          <div class="section-main-text">
            <h2>Different types of Text</h2>
            <p>
              Various type of text like small text, regular text ,large and
              medium text are available .
            </p>
          </div>
          <div class="heading-container">
            <p class="text-large">Large Text</p>
            <p class="text-regular">Regular Text</p>
            <p class="text-medium">Medium text</p>
            <p class="text-small">Small text</p>
          </div>
        </div>
        <div class="iframe-img">
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%2874%2C144%2C226%2C1%29&t=material&wt=none&l=auto&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522text-large%2522%253ELarge%2520Text%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text-regular%2522%253ERegular%2520Text%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text-medium%2522%253EMedium%2520text%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text-small%2522%253ESmall%2520text%253C%252Fp%253E%250A"
            style="
              width: 100%;
              height: 360px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
              margin: 2rem 0;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </div>
      </div>
    </div>
    <footer class="send-prev-next">
      <div class="prev">
        <a href="../toast/toast.html"
          ><i class="fa fa-angle-left"></i>
          <i class="fa fa-angle-left"></i> Toast
        </a>
      </div>
      <div class="next">
        <a href="../grid/grid.html"
          >Grid <i class="fa fa-angle-right"></i>
          <i class="fa fa-angle-right"></i
        ></a>
      </div>
    </footer>
    <script src="../main.js"></script>
  </body>
</html>
